# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
.env/

# Ignore other common files
*.egg-info/
*.egg
.DS_Store
.vscode/
Reacher_Linux_NoVis/
Reacher_Linux_single_arm/
unity-environment.log

